/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
html {
    font-family:"arial", Georgia, Serif;
    font-size: 12px;
    min-width: 360px;
}

.header {
    margin-top: 15px;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.header h2 {
    font-size: 2rem;
}

.header h3 {
    font-size: 1.5rem;
}

.brokerage-tool {
    width: 350px;
    height: 160px;
    margin: auto;
    background-color: #eee;
    display: none;
    transition: background-color 2s;
    -webkit-transition: background-color 2s; /* Safari */
}

.brokerage-tool .header {
    background-color: #4a4949;
    padding-left: 15px;
}

.brokerage-tool .header h1 {
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family:"arial", Georgia, Serif;
    line-height: 30px;
}

.tool-holder {
    padding: 10px;
}

.tool-holder .tool {
    background-color: #fff;
    border: solid 1px #d5d3d3;
    padding: 10px 20px;
}

.tool-holder .tool .t-rows .slider {
    height: 65px;
}

.tool-holder .tool .t-rows .slider .lbl {
    font-size: 1rem;
    font-weight: bolder;
    color: #626262;
    float: left;
    margin-top: 15px;
}

.tool-holder .tool .t-rows .slider .slide-panel {
    float: left;
    margin-top: 19px;
    margin-left: 15px;
}

.tool-holder .tool .t-rows .slider .slide-panel .bar {
    width: 150px;
    height: 10px;
    border: solid 2px #cecece;
    margin-left: 4px;
}

.tool-holder .tool .t-rows .slider .slide-panel .bar-inner {
    height: 100%;
    width: 0;
    transition: width 2s;
    -webkit-transition: width 2s; /* Safari */
    background: #0078b8; /* Old browsers */
    background: -moz-linear-gradient(top,  #0078b8 0%, #2989d8 50%, #048ad2 51%, #0078b8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0078b8), color-stop(50%,#2989d8), color-stop(51%,#048ad2), color-stop(100%,#0078b8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0078b8 0%,#2989d8 50%,#048ad2 51%,#0078b8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0078b8 0%,#2989d8 50%,#048ad2 51%,#0078b8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0078b8 0%,#2989d8 50%,#048ad2 51%,#0078b8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0078b8 0%,#2989d8 50%,#048ad2 51%,#0078b8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078b8', endColorstr='#0078b8',GradientType=0 ); /* IE6-9 */
}

.tool-holder .tool .t-rows .slider .slide-panel .pointer {
    width: 10px;
    position: relative;
    left: 0px;
    transition: left 2s;
    -webkit-transition: left 2s; /* Safari */
}

.tool-holder .tool .t-rows .slider .slide-panel .pointer-arrow {
    display: block;
    border-bottom: solid 5px #575757;
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    margin-top: 3px;
}

.tool-holder .tool .t-rows .slider .slide-panel .dyn-pointer-val {
    font-size: .9rem;
    font-weight: bolder;
    color: #626262;
    position: relative;
    top: -3px;
    left: -3px;
}

.tool-holder .tool .t-rows .slider .goal-flag.glow {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.tool-holder .tool .t-rows .slider .goal-flag {
    color: #fff;
    border: solid 1px #ccc;
    border-radius: 3px;
    text-align: center;
    width: 50px;
    float: left;
    margin-left: -1px;
    background: #7b7b7b; /* Old browsers */
    background: -moz-linear-gradient(top,  #7b7b7b 1%, #535353 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#7b7b7b), color-stop(100%,#535353)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7b7b7b 1%,#535353 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7b7b7b 1%,#535353 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7b7b7b 1%,#535353 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7b7b7b 1%,#535353 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7b7b', endColorstr='#535353',GradientType=0 ); /* IE6-9 */

}

.tool-holder .tool .t-rows .slider .goal-flag .target-lbl {
    font-size: .9rem;
    font-weight: bolder;
    display: block;
    background: transparent url(../images/fade-line.png) no-repeat center bottom;
    padding-bottom: 2px;
}

.tool-holder .tool .t-rows .slider .goal-flag .dyn-target-count {
    font-size: 1.5rem;
    font-weight: bolder;
    display: block;
    padding: 2px 0;
}

.tool-holder .tool .t-rows .info .checked {
    width: 20px;
    height: 20px;
    background: transparent url(../images/tick.png) no-repeat center left;
    float: left;
    margin-right: 5px;
    display: none;
}

.tool-holder .tool .t-rows .info .status {
    font-size: 1rem;
    background: transparent url(../images/info.png) no-repeat center left;
    padding-left: 25px;
    float: left;
}

#debug-panel {
    width: 150px;
    background-color: lightblue;
    padding: 5px;
    font-size: .8rem;
    float: right;
    margin-top: 15px;
    border-radius: 2px;
    opacity: .8;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
        .brokerage-tool {
            background-color: blue;
        }
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
        .brokerage-tool {
            background-color: lightgreen;
        }
    }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        .brokerage-tool {
            background-color: red;
        }
    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        .brokerage-tool {
            background-color: orange;
        }
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        .brokerage-tool {
            background-color: hotpink;
        }
    }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/